/* You can add global styles to this file, and also import other style files */
.titulo{
    margin: 20px
}
.noticia{
margin: 10px;
}

.noticia img{
    width: 100%;
    height: auto;
    display: block;
}
.contenedor{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-top: 20px;
}
.form{
    margin-right: 20px;
}
.form2{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}